NEXT_PUBLIC_SUPABASE_URL=https://dtuoemqcnwnwkojyifsq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0dW9lbXFjbndud2tvanlpZnNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNzMwOTMsImV4cCI6MjA5NTY0OTA5M30.ZDlBp20kXj8QfziuWUtg2BkopV_QxpzcfD1BWLkQk4o
